@media screen and (max-width: 600px) {
  .img2 {
    width: 100%;
    margin-top: 10px;
  }
   .img4 {
    margin-top: -50px;
  }
  .footerr{
    margin-top: -210px;
  }
  .footerrh{
    margin-left: 0px!important;
  }
  .footerb{
    margin-left: 65px;
  }
}
